<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.codeunited.jms.spring ru.codeunited.jms.service"/>
    <context:property-placeholder location="classpath:wmq.properties" ignore-unresolvable="true"/>

    <bean id="mqClientConnectionFactory" class="com.ibm.mq.jms.MQQueueConnectionFactory"
          p:connectionNameList="${wmq.qmgr.hosts}"
          p:clientReconnectTimeout="${wmq.qmgr.clientReconnectTimeout}"
          p:queueManager="${wmq.qmgr.name}"
          p:transportType="1"
          p:CCSID="${wmq.qmgr.ccid}"
          p:channel="${wmq.qmgr.channel}">
        <property name="clientReconnectOptions">
            <util:constant static-field="com.ibm.msg.client.wmq.WMQConstants.WMQ_CLIENT_RECONNECT"/>
        </property>
    </bean>

    <bean id="jmsQueueConnectionFactorySecured"
          class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter"
          p:targetConnectionFactory-ref="mqClientConnectionFactory"
          p:username="${wmq.qmgr.username}"
          p:password="${wmq.qmgr.password}">
    </bean>

    <bean id="jmsQueueCachingConnectionFactorySecured"
          class="org.springframework.jms.connection.CachingConnectionFactory"
          p:targetConnectionFactory-ref="jmsQueueConnectionFactorySecured"
          p:sessionCacheSize="10">
    </bean>

    <!-- JMS Destination Resolver -->
    <bean id="jmsDestinationResolver" class="org.springframework.jms.support.destination.DynamicDestinationResolver"/>

    <!-- JMS Queue Template -->
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate"
          p:connectionFactory-ref="jmsQueueCachingConnectionFactorySecured"
          p:destinationResolver-ref="jmsDestinationResolver"
          p:receiveTimeout="10000">
    </bean>


</beans>